body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* banner section */
.header {
    background-image: url('../images/banner/banner1.png');
    width: 100%;

    border: solid rgb(249, 237, 237);
}

header h1 {
    font-size: 50px;
    color: black;
}

.banner-content {
    text-align: right;
    margin: 250px 120px 180px 70px;
}

.btn-primary {
    background-color: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 25px;
}

/* My failures of previous year section */
.My-failures-s {
    margin-top: 10%;
}

.My-failures {
    display: flex;
    gap: 20px;
}

div>img {
    width: 469px;
    height: 600px;
    margin-left: 170px;

}

.failures-text {
    margin: 10% 5%;
    padding-top: 55px;

}

div>h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

div>ul,
p {

    list-style: none;
    font-size: 13px;
    color: rgb(121, 110, 110);
}

.fa-solid {
    color: #16D887;
    padding-left: 1%;
    padding-right: 2%;
}

/* My plans section */
.plans-title {
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
}

.plans-content {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    gap: 10%;
}

.plan-img {
    width: 92px;
    height: 92px;

    margin-left: auto;
    margin-right: auto;
}

.plans-img-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.plans-text-1 {
    margin-top: -8%;
    font-size: 23px;
    font-weight: 100;

}

.plans-text-3 {
    margin-top: -10%;
    font-size: 23px;
    font-weight: 100;
}

.plans-text-4 {
    margin-top: -11%;
    font-size: 23px;
    font-weight: 100;
}

/* Awlays keep a positive mindset section */